@import '@/style/index.scss';

.title {
    @include flex(center);
    position: relative;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    height: 100px;
    &Back {
        position: absolute;
        top: 50%;
        margin-top: -50%;
        font-size: 40px;
        color:#E52611;
        left: 40px;
    }
}