@import '@/style/index.scss';

.card {
    @include borderBox(0 20px);
    width: 670px;
    // height: 300px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow:10px 10px 40px rgba(136,136,136,0.16);
    border-radius: 20px;
    &Status {
        @include flex;
        font-size: 28px;
        height: 80px;
        border-bottom: 2px solid #EEEEEE;

        >:nth-child(1) {
            color: #888888
        }

        >:nth-child(2) {
            color: #E52611
        }
    }

    &Detail {
        @include flex(flex-start);
        margin-top: 20px;

        img {
            display: block;
            background-color: skyblue;
            width: 160px;
            height: 160px;
        }

        &Right {
            @include column(space-between);
            color: #020202;
            height: 140px;
            margin-left: 18px;

            >:last-child {
                color: #E52611;
                font-size: 28px;
            }
        }
    }
}
.btn{
    padding: 5px 12px;
    background-color: #E52611;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    margin-left: 10px;
}
.btnList{
    @include flex(flex-end);
    padding-bottom: 10px;
}