@import '@/style/index.scss';

.tabbar {
    position: absolute;
    bottom: 0;
    width: 750px;
    height: 100px;
}

.icon {
    width: 50px;
    height: 50px;
}
.relate{
    @include borderBox(0 0  100px 0);
    position: relative;
}