@import '@/style/index.scss';

.card {
    @include borderBox(0 20px);
    // width: 670px;
    height: 300px;
    margin: 20px auto 0;
    background-color: #fff;

    &Status {
        @include flex;
        font-size: 28px;
        height: 80px;
        border-bottom: 2px solid #EEEEEE;

        >:nth-child(1) {
            color: #888888
        }

        >:nth-child(2) {
            color: #E52611
        }
    }

    &Detail {
        @include flex(flex-start);
        margin-top: 20px;

        img {
            display: block;
            background-color: skyblue;
            width: 160px;
            height: 160px;
        }

        &Right {
            @include column(space-between);
            color: #020202;
            height: 140px;
            margin-left: 18px;

            >:last-child {
                color: #E52611;
                font-size: 28px;
            }
        }
    }
}

.comment {
    @include borderBox(20px 40px 40px);
    @include column(space-between);
    background-color: #fff;
    margin-top: 20px;
    height: 240px;

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #707070;
    }
}

.certificate {
    @include borderBox(20px 40px);
    height: 260px;
    background-color: #fff;
}

.submit {
    @include flex(center);
    width: 100%;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    height: 120px;
    >div {
        width: 670px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        color: white;
        background-color: #E52611;
        border-radius: 40px;
    }

}