@import '@/style/index.scss';

.detail {
    @include borderBox(30px 40px);
    @include flex(flex-start);
    background-color: #fff;
    margin-top: 20px;

    img {
        width: 180px;
        height: 180px;
    }

    &Inner {
        @include column(space-between);
        height: 180px;
        color: #020202;
        font-size: 28px;
        margin-left: 20px;

        >:nth-child(3) {
            color: #E52611
        }
    }
}

.star {
    @include flex(flex-start);
    @include borderBox(20px 40px);
    color: #020202;
    font-size: 28px;
    margin-top: 20px;
    background-color: #fff;

    >:nth-child(1) {
        margin-right: 24px;
    }
}

.comment {
    @include column(space-between);
    @include borderBox(20px 40px);
    background-color: #fff;
    color: #020202;
    font-size: 28px;
    margin-top: 20px;
    height: 240px;

    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #000;
    }
}
.upload{
    @include borderBox(20px 40px);
    // @include column(space-between);
    color: #020202;
    font-size: 28px;
    height: 400px;
    background-color: #fff;
    margin-top: 20px;
    >:nth-child(2){
       margin-top: 10px;
    }
}
.btn{
    width: 100%;
    height: 120px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    @include flex(center);
    text-align: center;
    font-size:28px ;
    color:white;
    div{
        width:670px;
        line-height:80px;
        height:80px;
        border-radius:40px;
        background-color: #E52611;
    }
}