@import '@/style/index.scss';

.bannerImg {
    display: block;
    width: 100%;
    height: 562px !important;
    background-color: skyblue;
}

.introduce {
    @include borderBox(18px 40px 24px);
    // height: 262px;
    background-color: white;

    &Name {
        color: #020202;
        font-size: 32px;
        font-weight: bold;
    }

    &Describe {
        color: #888888;
        font-size: 24px;
        font-family: Source Han Sans SC;
        margin-top: 20px;
    }

    &Price {
        color: #E52611;
        font-size: 28px;
        margin-top: 16px;
    }

    &Flex {
        margin-top: 40px;
        @include flex;
        font-size: 24px;

        &Btn {
            background-color: #E52611;
            color: white;
            text-align: center;
            line-height: 40px;
            height: 40px;
            width: 100px;
        }

        &Choose {
            :nth-child(1){
                margin-right: 10px;
            }
            @include flex;

        }
    }
}

.rightIcon {
    color: #B79242;
    font-size: 40px;
    margin-left: 20px;
}

.userComment {
    @include borderBox(0 40px);
    margin-top: 20px;
    background-color: white;

    &Title {
        @include flex;
        height: 80px;
    }

    &List {
        // height: 260px;
        font-size: 24px;
        padding-bottom: 20px;

        &Star {
            @include flex(flex-start);
            color: #E52611;
            margin-top: 30px;

            &Rate {
                margin-right: 30px;
            }
        }

        &User {
            @include flex(flex-start);
            margin-top: 30px;

            img {
                width: 60px;
                height: 60px;
                background-color: black;
                border-radius: 50%;
                margin-right: 20px;
            }

            p {
                color: #000000;
                font-size: 28px;
            }
        }

        &Select {
            @include flex;
            margin-top: 30px;

            &Spec {
                color: #888888;
            }
        }

        &Comment {
            margin-top: 10px;
        }
    }
}

.tabs {
    width: 100%;
    background-color: #fff;
    margin-top: 20px;

    &Inner {
        margin: 0 auto;
        width: 100%;
    }
}

.pay {
    @include flex;
    @include borderBox(0 40px);
    // margin-top: 34px;
    width: 750px;
    height: 118px;
    background-color: white;

    &Price {
        color: #E52611;
        font-size: 28px;
        font-family: Source Han Sans SC;
        font-weight: bold;
    }

    &Btn {
        width: 300px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        background-color: #E52611;
        border-radius: 40px;
        color: white;
    }
}

.modal {
    padding: 30px;

    &Detail {
        @include flex(space-between, flex-start);

        &Left {
            @include flex;

            img {
                background-color: skyblue;
                width: 160px;
                height: 160px;
            }

            &Inner {
                height: 140px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                margin-left: 20px;
                text-align: left;

                :nth-child(1) {
                    color: #E52611;
                    font-weight: bold;
                    font-size: 28px;
                }

                :nth-child(2) {
                    color: #888888;
                    font-size: 24px;
                }

                :nth-child(3) {
                    color: #000000;
                    font-size: 24px;
                }
            }
        }

        &Hide {
            width: 20px;
            transform: rotate(270deg);
        }
    }

    &Spec {

        margin-left: 0;
        display: inline;
        box-sizing: border-box;
        // width: 40px;
        // margin-top: 30px;
        padding: 4px 16px;
        // height: 40px;
        line-height: 40px;
        background-color: #E52611;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 24px;
        text-align: center;

        &Detail {
            @include flex(flex-start);
            margin-top: 20px;

            >div {
                padding: 12px 80px;
                border-radius: 10px;
                border: 2px solid #888888;
                color: #888888;
                font-size: 24px;
                margin-right: 20px;
            }
        }
    }

    .spec {

        margin-top: 30px;
        text-align: left;
    }
}

.active {
    border: 2px solid #E52611 !important;
    color: #E52611 !important;
}

.btn {
    border-radius:40px;
    margin-top: 60px;
    height: 80px;
    line-height: 80px;
    color: white;
    background:#E52611;
    opacity: 1;
}