@import '@/style/index.scss';

.list {
    @include borderBox(0 60px 0 40px);
    background-color: #fff;
    margin-top: 20px;
}

.date {
    color: #020202
}

.listCard {

    height: 80px;
    @include flex;
    font-size: 24px;
    color: #888888;

    &+& {
        border-top: 2px solid rgba(238, 238, 238, 1);
    }

    &Price {
        color: #020202;
        font-size: 28px;
        font-weight: bold;
    }

}