.abs {
    position: fixed;
    width: 100%;
    height: calc(100% - 50Px);
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    margin: auto;
    z-index: 100;

    .modal {
        transition: width .5s;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: #fff;
    }
}